table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border: 1px solid gray;
    padding: 5px 10px;
    /* border-radius: 50%; */

}

.calendar>div {
    border: 1px solid #ccc;
    width: calc(100% / 7);
    box-sizing: border-box;
    margin-left: 2px;
    margin-top: 2px;
    background-color: #aaa;

}

.calendar {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 1px;
    margin-top: 1px;
}

.today{
    background: lightgreen;
}
.weekend{
    background-color: rgb(253, 241, 10) ;
}